@import "../bower_components/lesshat/build/lesshat";
@import "variables";
@import "mixins";
@import "gameon-overrides";
@import "mm";

.ws-header {
    background-color: white;
    border-bottom: 1px solid #CCCCCC;
    display: table;
    width: 100%;
}

.ws-header--item {
    width: 33%;
    display: table-cell;
    vertical-align: middle;
}

.ws-main-btn {
    width: 200px;
    font-size: 18px;
    padding: 6px 12px;
}

@media (min-height: 420px) {
    .ws-main-btn {
        width: 200px;
        font-size: 26px;
        padding: 10px 16px;
    }
}

.ws-main-btn-container {
    margin: 5px 0;
}

// Modals
.modal-body {
    padding: 0;
    text-align: left;
}

@media (min-width: 320px) {
    .modal-body {
        padding: 20px;
    }
}

.modal-header {
    border-bottom: none;
}

.gameon-hidden-xs {
    @media (max-height: 698px) {
        display: none;
    }
    @media (max-width: 698px) {
        display: none;
    }
}

.gameon-visible-xs {
    @media (min-height: 699px) and (min-width: 699px) {
        display: none;
    }
}

.article-theme {
    text-align: left;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    p {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .article-theme {
        font-size: 18px;
    }
}

@media (min-width: 600px) {
    .article-theme {
        width: 80%;
    }
}

.footer {
    display: inline;
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    text-align: center;
}

.footer__link {
    font-size: small;
    margin: 0 11px;
    color: Gray;
}

.mm-end-message {
    font-size: 20px;
}

.mm-bonus-message {
    font-size: 20px;
}

#mainbody {
    padding-top: 20px;
    padding-bottom: 20px;
}


/////////////////////////
@background-color: #f5f5f5;
body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: @background-color;
    text-align: center;
    font-style: normal;
    height: 100%;
}

.cursor-grabbing,
.cursor-grabbing *,
{
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
}

.reword-words {
    font-size: 20px;
}

.reword-word {
    display: inline-block;
    margin: 6px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    border-bottom: 2px orange dotted;
    position: relative;
}

.reword-word--unmovable {
    border-bottom: none;
    cursor: text;
}

.reword-word--selected {
    .transition(all 300ms);
    color: @background-color;
    border-bottom: 2px green dotted;

}

#mouse-follower {
    pointer-events: none;
    position: absolute;
}

.icon-container {
    border-radius: 40px;
    border: 3px solid #29B449;
    width: 64px;
    height: 64px;

    display: none;
    @media (min-width: @small-min-width) {
        display: inline-table;
    }
}
.reword-header {
    font-family: serif;
    font-size: 30px;
    color: rgb(81, 104, 162);
}
.reword-header-text {
    position: relative;
    top: 5px;
}

.icon-container__icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #29B449;
    font-size: 27px;
}

.icon-container__icon--tick {
    color: #29B449;
}
.text-massive {
    font-size: 60px;
    color: #29B449;
}

////////////////////

.chess-piece {
    font-size: 40px;
    background-color: rgba(1, 1, 1, 0);

    border: 0 solid white;
    padding: 0;
    text-shadow: 0 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.chess-piece--selected {
    text-shadow: 0 0 gold, 1px -1px 0 gold, -1px 1px 0 gold, 1px 1px 0 gold;
}

.chess-piece--player-1 {
    color: @player-1-color;
}

.versus-play-btn {
    border-color: #c0c0c0;
}

.versus-play-btn:hover,
.versus-play-btn:focus,
.versus-play-btn.active,
{
    border-color: #919191;
}

.player-1-color {
    background-color: darken(@player-1-color, 10%);
}

.player-1-color:hover,
.player-1-color:focus,
.player-1-color.active,
{
    background-color: @player-1-color;
}

.chess-piece--player-2 {
    text-shadow: 0 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.player-2-color {
    background-color: darken(@player-2-color, 10%);
}

.player-2-color:hover,
.player-2-color:focus,
.player-2-color.active,
{
    background-color: @player-2-color;
}

.chess-piece--player-3 {
    color: @player-3-color;
}

.player-3-color {
    background-color: darken(@player-3-color, 10%);
}

.player-3-color:hover,
.player-3-color:focus,
.player-3-color.active,
{
    background-color: @player-3-color;
}

.chess-piece--player-4 {
    color: @player-4-color;
}

.player-4-color {
    background-color: darken(@player-4-color, 10%);
}

.player-4-color:hover,
.player-4-color:focus,
.player-4-color.active,
{
    background-color: @player-4-color;
}

.chess-piece--player-5 {
    color: @player-5-color;
}

.player-5-color {
    background-color: darken(@player-5-color, 10%);
}

.player-5-color:hover,
.player-5-color:focus,
.player-5-color.active,
{
    background-color: @player-5-color;
}

.chess-piece--player-6 {
    color: @player-6-color;
}

.player-6-color {
    background-color: darken(@player-6-color, 10%);
}

.player-6-color:hover,
.player-6-color:focus,
.player-6-color.active,
{
    background-color: @player-6-color;
}

.gameon-board td {
    min-width: 55px;
    width: 55px;
    min-height: 55px;
    height: 55px;
    border: 1px solid rgb(213, 213, 213);
}

.gameon-board table {
    overflow: auto;
}

.gameon-board .even {
    background-color: #868686;
    background: linear-gradient(to bottom, #6e6e6e 0%, #929292 100%)
}

.gameon-board .odd {
    background-color: #b6b6b6;
    background: linear-gradient(to top, #9f9f9f 0%, #b9b9b9 100%)
}

.ws-cell-highlight.odd {
    background-color: #3fb63e;
    background: linear-gradient(to top, #3c9f3f 0%, #45b94d 100%)
}

.ws-cell-highlight.even {
    background-color: #38863f;
    background: linear-gradient(to bottom, #2a6e2c 0%, #36923f 100%)
}
