<div class="article-theme">

    <h1>About Big Multiplayer Chess</h1>

    <p class="lead">Big Multiplayer Chess is a brand new, free online massive multiplayer chess match! It offers free addicting fun
        for the whole family. Be puzzled and build your brain today by playing Big Multiplayer Chess. </p>

{#    <p class="lead"><b>Instructions:</b><br/>#}
{#        TODO#}
{#    </p>#}
</div>
