<div class="article-theme">

    <h1>Contact Big Multiplayer Chess</h1>

    <p class="lead">Contact Big Multiplayer Chess by email: <a href="mailto:lee.penkman@wordsmashing.com"
                                                       title="contact Big Multiplayer Chess">lee.penkman@wordsmashing.com</a>
    </p>

    <p class="lead">Big Multiplayer Chess is a free online multiplayer chess board game fun for the whole family!</p>
</div>
