<div class="footer">
    <p>
        <span>© 2015 <a class="footer__link" href="http://www.addictingwordgames.com" title="Addicting Word Games"
                        target="_blank">Addicting Word Games</a></span>
        <a href="http://www.facebook.com/WordSmashing" title="reWord Game on Facebook" target="_blank">
            <img src="/static/img/facebook.jpg" alt="reWord Game on Facebook" width="144" height="44">
        </a>
    </p>
</div>
