<div class="ws-header">

    <a href="/" title="reWord Game" class="ws-header--item reword-header" onclick="return APP.gotoLink(this)"
       target="_blank" data-bypass="1">
        <span class="reword-header-text">re </span><img src="/static/img/reword-game-logo512.png" width="64" height="64"><span class="reword-header-text">ord Game</span>
    </a>
</div>
