<div id="instructions" style="display:none">
    <h1 style="display:none">MMO Chess</h1>

    <p class="lead" style="display:none">Massively multiplayer chess</p>

    <p class="lead"><b>Instructions:</b><br/>

        TODO
    </p>
</div>

<div class="ws-main-content">
    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/play">Play Now!</a>
    </div>
    <div class="ws-main-btn-container">
        <a class="ws-main-btn btn btn-large btn-success gameon-btn-hg" href="/versus">VS</a>
    </div>
    <div class="ws-main-btn-container">
        <button class="ws-help-btn btn btn-large btn-danger gameon-btn-hg" type="button">Instructions</button>
    </div>
</div>
